body {
    background-color: rgb(51, 50, 50);
}
.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -8px;
}

.header {
    background-color: rgb(168 169 171);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.main-container {
    background-image: url(./img/triangles.png);
    background-position: top;
    background-position-y: -145px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}
@media  screen and (min-width: 768px) {
    .main-container {
        background-position-y: -194px;
    }
}
@media  screen and (min-width: 992px) {
    .main-container {
        background-position-y: -245px;
    }
}
@media  screen and (min-width: 1200px) {
    .main-container {
        background-position-y: -320px;
    }
}

h1 {
    color: rgb(51, 50, 50);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
}

.input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    position: relative;
}

label {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
}

.input input, .input textarea{
    flex-basis: 68%;
    background: rgb(101, 100, 100);
    border: 0;
    outline: 1px solid rgb(180, 178, 178);
    border-radius: 3px;
    padding: 10px 0;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
    color: rgb(180, 178, 178);
    padding-left: 10px;
}

.input span {
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}
#submit-error {
    color: red;
}
.input span i {
    color: seagreen;
}
.button-top {
    margin: 26px 0;
}
button {
    background-color: rgb(101, 100, 100);
    border: 0;
    outline: 1px solid rgb(180, 178, 178);
    border-radius: 3px;
    padding: 10px 0;
    color: #333;
    font-size: 16px;
    width: 125px;
}
button:hover {
    background-color: rgb(68, 68, 68);
    color: rgb(180, 178, 178);
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
