body {
    background-color: black;
}
.container {
    background-color: rgb(79, 77, 77);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

label {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
}

.input input, .input textarea{
    flex-basis: 68%;
    background: rgb(101, 100, 100);
    border: 0;
    outline: 1px solid rgb(180, 178, 178);
    border-radius: 3px;
    padding: 10px 0;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
    color: rgb(180, 178, 178);
    padding-left: 10px;
}

.input span {
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}
#submit-error {
    color: red;
}
.input span i {
    color: seagreen;
}

button {
    background-color: rgb(101, 100, 100);
    border: 0;
    outline: 1px solid rgb(180, 178, 178);
    border-radius: 3px;
    padding: 10px 0;
    color: #333;
    font-size: 16px;
    width: 100%;
    margin: 10px;
}